<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Itens</title>
   {% load static %} 
    <link rel="stylesheet" href="{% static 'itens/styleItem.css' %}">
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- side bar -->
      <aside class="sidebar">
        <div class="logo">
         <img src="{% static 'itens/img/logobranca.png' %}">
          <!-- imagem do logo '0' -->
        </div>

        
      <nav class="menu">
        <a href="{% url 'home' %}" class="menu-item active">
            <i data-lucide="home"></i>  <!-- escolhe o icone 'home' do site do lucide -->
          <span>Principal</span>
        </a>
        <a href="{% url 'contratos' %}" class="menu-item">
            <i data-lucide="file-text"></i>
            <span>Contrato</span>
          </a>

          <a href="{% url 'lista_clientes' %}" class="menu-item">
            <i data-lucide="users"></i>
            <span>Clientes</span>
          </a>
         <a  href="{% url 'listar_itens' %}"class="menu-item active">
            <i data-lucide="package"></i>
            <span>Itens</span>
          </a>
          <a href="{% url 'painel_financeiro' %}" class="menu-item">
            <i data-lucide="wallet"></i>
            <span>Financeiro</span>
          </a>
        </nav>


        <div class="logout">
          <a href="#">
            <i data-lucide="log-out"></i>
            <span>Sair</span>
          </a>
        </div>
      </aside>

      <!-- Área de conteúdo principal -->
      <main class="main-content">
        <div class="content-header">
          <h1>Itens</h1>
        </div>

        <!-- Container unificado -->
        <div class="unified-container">
          <div class="textos-de-cima">
            <div class="Pesquisar" >Pesquisar</div>
          </div>
          <div class="search-row">
            <div class="search-field">
              <input
                type="text"
                id="searchInput"
                placeholder="Pesquisar o código, nome, categoria..."
              />
              <i class="search-icon" data-lucide="search"></i>
            </div>
          </div>
          <div class="search-row">
            <div class="action-button1">
              <button class="btn-primary">Aplicar</button>
            </div>
            <div class="action-button2">
              <button class="btn-secondary">Limpar</button>
            </div>
          </div>

          <div class="dropdown-fields">
            <div class="dropdown-field-word1">Ordenar por :</div>
            <div class="dropdown-field1">
              <button class="order-button" type="button">
                Nenhum selecionado
              </button>
              <i data-lucide="chevron-down"></i>
              <div class="order-menu" aria-hidden="true">
                <label
                  ><input type="radio" name="order" value="name" /><span
                    >Nome</span
                  ></label
                >
                <label
                  ><input type="radio" name="order" value="date" /><span
                    >Data</span
                  ></label
                >
                <label
                  ><input type="radio" name="order" value="color" /><span
                    >Cor</span
                  ></label
                >
              </div>
            </div>
          </div>

          <div class="linha-horizontal-cinza"></div>

          <div class="itens-container" id="itensContainer">
            <div class="item-name-container">
              <div class="item-name-item"><h2>ID</h2></div>
              <div class="item-name-estoque"><h2>Material</h2></div>
              <div class="item-name-preco"><h2>Quantidade</h2></div>
            </div>
            <div class="item-row" id="item-original">
            
                </div>

                {% for material in materiais %}
                <div class="item-info">
                  <div class="col">{{ material.id }}</div>
                  <div class="col">{{ material.item }}</div>
                  <div class="col">{{ material.quant }}</div>
                </div>
                {% endfor %}
              </div>

          </div>
        </div>
      </main>

    <script>
      lucide.createIcons();

      </script>
      <script src="{% static 'itens/script.js' %}"></script>

   
  </body>
</html>
