<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'login/sytle.css' %}">
</head>
<body>
    <div class="container">
        <div class="painel">
            <h2>Simplifique a <br> gestão, fortaleça <br>relações.</h2>
            <img src="img/Imagem_crm.svg" alt="Ilustração CRM">
        </div>
            <div class="container_form">
        <div class="painel_form">
            <img src="img/Logo CRM roxa 2.svg" alt="Logo CRM">
            <h1>Login</h1>
            <div class="linha"></div>
            <form action="" class="formulario">
                <label for="">Email:</label>
                <input type="text" id="email">
                <label for="">Senha:</label>
                <input type="text" id="senha">
            </form>
            <button class="btn-primary">Entrar</button>
        </div>
    </div>
    </div>
<script src="./assets/script.js"></script>
</body>
</html>