<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel Financeiro</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet"
 />
     {% load static %}
    <script src="https://unpkg.com/lucide@latest"></script>
   
<link rel="stylesheet" href="{% static 'financas/finanças.css' %}" />


  </head>

  <body data-section="financas">
    <div class="container">
      <!-- ===== SIDEBAR ===== -->
      <aside class="sidebar">
        <div class="logo">
          <img src="{% static 'financas/img/logobranca.png' %}">
        </div>

  <nav class="menu">
          <a href="{% url 'home' %}" class="menu-item" data-section="home">
            <i data-lucide="home"></i>
            <span>Principal</span>
          </a>
          <a href="{% url 'contratos' %}" class="menu-item" data-section="contratos">
            <i data-lucide="file-text"></i>
            <span>Contratos</span>
          </a>
          <a href="{% url 'lista_clientes' %}" class="menu-item" data-section="clientes">
            <i data-lucide="users"></i>
            <span>Clientes</span>
          </a>
          <a href="{% url 'listar_itens' %}" class="menu-item" data-section="itens">
            <i data-lucide="package"></i>
            <span>Itens</span>
          </a>
          <a href="{% url 'painel_financeiro' %}" class="menu-item active" data-section="financas">
            <i data-lucide="wallet"></i>
            <span>Financeiro</span>
          </a>
        </nav>

        <div class="logout">
          <a href="#">
            <i data-lucide="log-out"></i>
            <span>Sair</span>
          </a>
        </div>
      </aside>

      <!-- ===== MAIN ===== -->
       
      <main class="main">
        <h2>Financeiro</h2>
        <section class="painel-financeiro">
        <div class="top-bar">
                    <div class="resumo">
                      <div>
                        <h4>Entradas</h4>
                        <p>R$ {{total_precos}}</p>
                      </div>
                      <div>
                        <h4>Saídas</h4>
                        <p>R$ 1.200,00</p>
                      </div>
                    </div>

                    <div class="saldo">
                      <h4>Saldo Atual</h4>
                      <p>R$ {{total_precos}}</p>
                    </div>

              
          <!-- FORM -->
          <form id="formTransacao" class="form-transacao escondido">
            <h3>Adicionar Transação</h3>

            <label for="descricao">Descrição:</label>
            <input
              type="text"
              id="descricao"
              placeholder="Digite a descrição"
            />
            <div class="linha">
              <div>
                <label for="valor">Valor:</label>
                <input  id="valor" placeholder="Ex: 500.00" />
              </div>

              <div>
                <label for="tipo">Tipo:</label>
                <select id="tipo">
                  <option value="entrada">True</option>
                  <option value="saida">False</option>
                </select>
              </div>
            </div>

            <button type="submit" class="btn-aplicar">Aplicar</button>
          </form>

          <!-- TABELA -->
          <table class="tabela">
            <thead>
              <tr>
                <th>Data</th>
                <th>Descrição</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              {% for festa in festas %}
              <tr>
               <td>{{ festa.data }}</td>
                <td><em>{{ festa.nome_festa }}</em></td>
               
               <td><em>{{ festa.preco }}</em></td>
              </tr>
                {% endfor %}
             
            </tbody>
          </table>
          <h4>Total de Preços: R$ {{ total_precos }}</h4>
        </section>
      </main>
    </div>
    
    <script src="{% static 'financas/finanças.js' %}"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>